* {
    margin: 0;
    padding: 0;
}

header {
    background: #eee;
    padding: 10px;
}

header ul {
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #777;
    text-decoration: none;
}

header ul li a:hover {
    color: #000;
}

form {
    padding: 10px;
    text-align: center;
}

form > * {
    margin-top: 10px;
}

.output {
    text-align: center;
}
